body {
	margin: 0;
	height: 100vh;
	font-family: Helvetica, sans-serif;
	color: #222;
}

.hidden {
	display: none;
}

.magic-btn-wrapper {
	--border-outer-width: 9px;
	--border-inner-width: 6px;
	height: 56px;
	width: 200px;
	position: relative;
}

.magic-btn,
.magic-btn:after {
	height: 100%;
	width: 100%;
	padding: 1em 3em;
	display: block;

	background-image: linear-gradient(-45deg, #fc00ff, #00ccee, #fc00ff);

	background-size: 400px;
	background-position: right bottom;
	color: #fff;
	font-size: 1.1rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border-radius: 100px;
	border: none;
	box-sizing: border-box;
	transition: background-position 0.2s ease-out, box-shadow 0.3s ease-out;
	z-index: 1;
}

.magic-btn {
	box-shadow: 0 0 0 #fff;
}

.magic-btn:after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	background-image: linear-gradient(55deg, #fc00ff, #00ccee, #fc00ff);
	transform: translate(-50%, -50%);
	transition: height 0.2s ease-out, width 0.2s ease-out;
	z-index: -1;
}

.magic-btn:hover,
.magic-btn:focus {
	outline: none;
	background-position: left top;
	box-shadow: 0 0 0 var(--border-inner-width) #fff;
}

.magic-btn:active {
	background-size: 1000px;
}

.magic-btn:hover:after,
.magic-btn:focus:after {
	width: calc(100% + var(--border-outer-width) * 2);
	height: calc(100% + var(--border-outer-width) * 2);
	animation: animateBorder 4s ease infinite alternate;
}

@keyframes animateBorder {
	0% {
		background-position: right bottom;
	}
	33% {
		background-position: left top;
	}
	67% {
		background-position: right center;
	}
	100% {
		background-position: left bottom;
	}
}

/* Screen utilities */

.screen-center {
	justify-content: center;
	align-items: center;
}

.transition-opacity {
	transition: opacity 1s ease;
}

/* Screen1 */

.select1 .screen1 {
	display: flex;
}

.svg-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	pointer-events: none;
}

.lottie1 {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
	object-fit: cover;
	filter: brightness(1.15);
}

.screen {
	height: 100vh;
	display: none;
}

/* Screen2 */

.select2 .screen2 {
	display: flex;
}

.screen2 {
	opacity: 0;
}

.screen2 h1 {
	font-size: 4rem;
	font-weight: 100;
	color: #556;
}
